/* Set width to make card deck cards 100% width */
@media (max-width: 991.98px) { 
	#mainNav {
		margin-top: -0em;
	}
	.language.dropdown{/*
		max-width: 50vw;
	    float: none;
	    z-index: 12;
	    margin: 1vw 1vw -4em; */
	} 
}